@media (max-width: 910px) {
  .topmenu,
  .user_menu a,
  .menu_button.cart {
    display: none;
  }

  header {
    justify-content: space-between;
    max-width: 100%;
  }

  header .fp_logo {
    margin-bottom: 0;
    width: 39vw;
  }

  .account_img {
    width: 10vw;
  }
  /* Hamburger menu */
  .hamburger-label {
    background-color: #0697f2;
    display: block;
    margin: 15px;
    padding: 15px;
    border-radius: 50%;
  }

  .hamburger-label-line {
    display: block;
    width: 40px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
    position: absolute;
    background-color: #fff56d;
    bottom: -190px;
    left: 0px;
  }

  #hamburger-menu:checked ~ nav .menu_buttons {
    flex-direction: column;
  }

  #hamburger-menu:checked ~ nav .menu_buttons li {
    margin: 5px;
  }

  #hamburger-menu:checked ~ nav .menu_buttons a {
    min-width: 100px;
    font-size: 20px;
  }

  main {
    margin: 10px;
  }

  .featured_games {
    grid-template-columns: 1fr 1fr;
  }
}
