@import "imports/links.css";
@import "imports/variables.css";

.product_game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin: 20px;
}

.product_game img {
  max-width: 100%;
}

.product_game_container {
  background-color: white;
  display: block;
  padding: 5px;
  margin: 0;
}

.product_game_container a,
h2,
p {
  display: block;
  padding: 5px;
  margin: 0;
}

.product_images {
  max-width: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 0px;
}

.product_game_container {
}
