.product_game {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  gap: 25px;
  padding: 10px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
}

.product_game img {
  max-width: 100%;
}

.product_game_container {
  display: block;
  padding: 5px;
  margin: 10px;
}

.product_game_container a,
h2,
p {
  display: block;
  padding: 5px;
  margin: 0;
}

.product_images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 10px;
  justify-items: center;
}
